* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .agency,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .agency {
    
  }
  
  .products {
    background-image: url('./img/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('./img/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100pxg
  }

  .banner {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }

  .banner--agency {
    background-image: url('./img/agency.jpg');
    
  }

  .banner--product {
    background-image: url('./img/img-4.jpg')
  }