* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

  .container {
    width: 90%;
    max-width: 1500px;
    margin: auto;
    padding: 50px 20px;
  }

  .subcontainer {
    width: 80%;
    margin: auto;
  }
  
  .home,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .products {
    background-image: url('./img/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('./img/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100pxg
  }

  .banner {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }

  .banner--agency {
    background-image: url('./img/agency.jpg');
    
  }

  .banner--product {
    background-image: url('./img/img-4.jpg')
  }

  /* page services */

  .agency {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .agency-adress {
    grid-column: 1 / 2;
    padding: 0 50px;
  }

  .agency-adress h2 {
    margin-bottom: 20px;
  }

  .agency-adress p {
    margin-bottom: 20px;
  }

  .agency-map {
    grid-column: 2 / 3;
  }

  .agency div:first-child {
    position: relative !important;
  }

  .takeappointment {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .takeappointment div {
    width: 28%;
    height: 80px;
    background-color: #E99A32;
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .takeappointment div:hover {
    background-color: rgba(233, 154, 50, 0.5);
    transition: background-color 150ms linear;
  }

  .takeappointment a {
    text-decoration: none;
    color: #fff;
  }